.f1 {
  font-family: 'Passion One', cursive;
}
.f2 {
  font-family: 'Slabo 27px', serif;
}
.f3 {
  font-family: 'Lato', sans-serif;
}
.fs1 {
  font-size: .5em;
}
.fs2 {
  font-size: 1em;
}
.fs3 {
  font-size: 1.5em;
}
.fs4 {
  font-size: 2em;
}
.fs5 {
  font-size: 2.5em;
}
.fs6 {
  font-size: 3.5em;
}
.fs7 {
  font-size: 4em;
}
.fs8 {
  font-size: 6em;
}
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.clear {
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
  background: #3b3b3d;
}
.flag {
  background: url(http://titanslayout.app/imgs/kids-stairs.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.flag .flag-info {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 55%;
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 20px rgba(59, 59, 61, 0.8);
  color: #3b3b3d;
}
.flag .flag-info h1 {
  letter-spacing: 2px;
  color: #3b3b3d;
  font-size: 3.5em;
  font-family: 'Passion One', cursive;
}
.flag .flag-info p {
  font-size: 2em;
  font-family: 'Slabo 27px', serif;
}
.flag video {
  width: auto    !important;
  height: 100%   !important;
  overflow: hidden;
}
.flag .flag-carat-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3b3b3d;
  font-size: 3.5em;
  font-family: 'Passion One', cursive;
}
.flag .flag-carat-down:hover {
  color: #98c73d;
}
header {
  width: 100%;
  position: fixed;
  background: rgba(59, 59, 61, 0.8);
}
header .logo {
  float: left;
  max-height: 80px;
  padding: 25px;
}
header .nav_launcher {
  padding: 40px 25px;
  color: #ffffff;
  float: right;
  font-size: 4em;
  font-family: 'Passion One', cursive;
}
header .nav_launcher:hover {
  color: #98c73d;
}
header nav {
  float: right;
}
header nav ul li {
  float: right;
  padding: 30px 20px;
  text-transform: uppercase;
  margin-right: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}
header nav ul li a {
  color: #3b3b3d;
  display: block;
}

.f1 {
  font-family: 'Passion One', cursive;
}
.f2 {
  font-family: 'Slabo 27px', serif;
}
.f3 {
  font-family: 'Lato', sans-serif;
}
.fs1 {
  font-size: .5em;
}
.fs2 {
  font-size: 1em;
}
.fs3 {
  font-size: 1.5em;
}
.fs4 {
  font-size: 2em;
}
.fs5 {
  font-size: 2.5em;
}
.fs6 {
  font-size: 3.5em;
}
.fs7 {
  font-size: 4em;
}
.fs8 {
  font-size: 6em;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.clear {
  clear: both;
}

/*# sourceMappingURL=app.css.map */
