// IMPORTS
 
@import "addons";
@import "reset";

// MAIN STRUCTURE

html, body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

body{
    font-size: 12px;
    // background: @main;
}

.home-flag{
    width: 100%;
    padding: 20%;
    box-sizing: border-box;
    background:@main;
    margin-top:100px;
    h1{
        .f1;
        .fs6;
        color: @c4;
    }
}

header{
    width:100%;
    position: fixed;
    // background: @main-t;
    .logo{
        float:left;
        width:250px;
        padding: 10px;
    }
    .nav_launcher{
        padding: 10px 25px;
        color: @c2;
        float:right;
        .fs7;
        .f1;
        &:hover{color:@c2;}
    }
    nav{
        float:right;
        ul{
            li{
                float:right;
                padding: 30px 20px;
                text-transform:uppercase;
                margin-right:10px;
                .f3;
                .fs4;
                a{
                    color: @main;
                    display:block;
                }
            }
        }
    }
}
